@nice-blue: #2980B9;
@light-sea-green:#1ABC9C;
@coral: #E87352;
@turquoise-medium: #58C8C9;
@punch: #E74C3C;
@side-border: 10px;

@selected-lesson-l: lighten(@turquoise-medium, 25%);
@selected-lesson: desaturate(@selected-lesson-l, 40%); 
@selected-lesson-hover: lighten(@selected-lesson, 8%);

@selected-lesson-item-text: darken(@selected-lesson, 40%); 
@selected-lesson-item-caption: darken(@selected-lesson, 60%); 

@base-padding: 15px;

@section-time-color: @coral;
@section-basic-color:@turquoise-medium;

.section-time .panel-body{
    border-left: @side-border solid @section-time-color!important;
}

.section-basic .panel-body{
    border-left: @side-border solid @section-basic-color!important;
}

.section-descr .panel-body{
    border-left: @side-border solid @nice-blue!important;
}

.section-place .panel-body{
    border-left: @side-border solid @light-sea-green!important;
}

.section-price .panel-body{
    border-left: @side-border solid @punch!important;
}


.with-noise{
	background-image: url(../img/noise.png) !important;
}
/* ================= */


.edit-lessons-list .panel-body{
    padding: 0!important;
    .with-noise;
}

.edit-lessons-list .lesson-list-item{
    margin: 0;
    background: none;
}

.edit-lessons-list{
    margin: 0;
} 
.edit-lessons-list .list-group{
    padding: 0;
}
 

.edit-lessons-list .active  {
   background-color: @selected-lesson!important;
    .with-noise;
}

.lesson-edit-block{
    background-color: @selected-lesson!important;
    padding: @base-padding;
    .with-noise;
}

.lesson-edit-block .panel-body{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

/* ==== */

.roboto{
    font-family: "Roboto" !important;
}

.lesson-list-item {
    cursor: pointer;
}

.lesson-list-item:hover {
   background-color: @selected-lesson-hover;
}

.lesson-list-item address{
    .roboto;
    font-style: normal !important;
	font-weight: 300 !important;
	font-size: 12px;
    margin: 0;
    padding: 0;
    color:@selected-lesson-item-text;
}

.lesson-list-item address img{
    height: 1em;
    width: auto;
    margin: 2px;
    float: left;
}

.lesson-list-item time{
    .roboto;
    text-transform: uppercase;
    font-size: 14px;
    color:@selected-lesson-item-caption;
}

.lesson-list-item h3{
    .roboto;
    font-style: normal !important;
	font-weight: 400 !important;
	font-size: 18px;
    margin: 0;
    padding: 0;
    color:@selected-lesson-item-caption;
}

.lesson-list-item h3 .index{
    color:@selected-lesson-item-text;
    font-weight: 300 !important;
}
/*  = === = = = */
.lesson-list-item{
    padding: 0;
    display: table;
    width: 100%;
}

.lesson-list-item .lesson-list-item-wrap{
    padding: 0!important;
    display: table-row;
}

.lesson-list-item .date-wrap{
    .roboto;
    color:@selected-lesson-item-text;
    border-right: 1px solid white;
    display: table-cell;
    font-weight: 300 !important;
    width: 25%;
    vertical-align: middle;
    text-align: center;
    padding: @base-padding;
}

.lesson-list-item .text-wrap{
    padding: @base-padding;
    margin: 0;
    display: table-cell;
}
.lesson-list-item .date-wrap h3{
    font-size: 22px;
    color: @section-time-color;
}

.lesson-list-item .course-tools{
    display: table-cell;
    width: 10%;
    padding: @base-padding;
    float: none;
}