// Common
img {
	max-width:100%;
	height:auto;
}
.desktop-view,
.page-header.desktop-view {
	display:none;
}

.container {
	margin-top: 15px;
}
.sections-wrap {

	.section,
	.section-sidebar {
		margin:0 0 30px;
	}
}



.page-header-wrap {
	&,
	.page-header {
		background:$header-bg;
	}
	.featured-img {
		max-height: 300px;
		overflow: hidden;
	}
}

.featured-img img {
	max-height:100%;
	width:auto;
	max-width: inherit;
}

.page-header {
	display:table;
	margin:0;
	padding: 30px 20px;
	width:100%;
	border:0;
	text-align:center;

	.page-header-inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}


.breadcrumb {
	border-radius: 0;
	li a {
		color:$breadcrumb-color;
	}
}

.header-toolbar {
	margin:30px 0;
	border:1px solid $gray-lighter;
	@include clearfix;
}

.header-toolbar-wrap {
	display:block;
	border-bottom:1px solid $gray-lighter;
	@include clearfix;

	.header-toolbar-item {
		float:left;
		border-left:1px solid $gray-lighter;
	}
	.header-toolbar-item:first-child {
		border-left:none;
	}
}

.header-toolbar-item {
	padding:0 8px;
	height: 44px;
	line-height: 44px;
	

	&.btn-group {
		padding:0; 
		border:0;
	}

	.btn-social-icon {
		height:44px;
		width:42px;
		color:$social-color;
		background:none;
		border-radius:0;
		border:0;
		border-left:1px solid $gray-lighter;

		&:first-child {
			border-left:none;
		}
		:first-child {
			line-height: 44px;
		}
	}
}
.btn-social-icon:hover {
	color: #a5a5a5;
}
.friends-counter {
	color:$gray-light;
	em {
		font-size: $font-size-large;
		font-style: normal;
	}
}

.course-time-info {
	background: $panel-bg;
}
.course-dates {
	padding: 11px 0;
	text-align:center;
	text-transform:uppercase;
	border-bottom:2px solid $panel-border;

	.course-dates-wrap {
		display:table;
		margin:0 auto;
	}
	.course-date,
	.course-duration {
		display:table-cell;
		padding: 0 12px;
		height: 86px;
		vertical-align: middle;
	}
}

.course-date {
	em {
		display: block;
	  	font-family:"robotoregular";
		font-size:3.571em;
		font-style: normal;
	}
}
.course-duration {
	position: relative;
	height:100%;
	color:$light-text-color;
	
	.course-duration-wrap {
		position: relative;
		display: block;
		padding: 7px 0;
		background: $panel-bg;
	}

	em {
		display: block;
		font-style: normal;
	}
	&:before {
		content:"";
		display: block;
		position: absolute;
		height: 100%;
		top: 0;
		right: 50%;	
		border-left:2px solid $panel-border;
	}
}

.course-time-place {
	display: table;
	width: 100%;

	.course-time {
		display: table-cell;
		width:145px;
		vertical-align: top;
	}
	.course-options-wrap {
		display: table-cell;
		vertical-align: top;
	}
}

.course-time {
	position: relative;
	padding: 8px 5px 7px;

	color:$time-panel-color;
	text-transform:uppercase;
	font-family:"robotomedium";

	background:$light-panel-bg;
	border-left:1px solid $panel-border;
	border-bottom:1px solid $panel-border;
	
	&:after {
		position: absolute;
		content: '';
		top: 51px;
		right: -10px;
		width: 0;
		height: 0;
		border-left: 10px solid $light-panel-bg;
		border-right: 0px solid transparent;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;    
	}
}

.course-timetable {
	list-style:none;
	padding:0;
	margin:0;
	
	li {
		margin:-2px 0 0 0;
		padding:7px;

		&.active {
			padding:5px;
			color:$accent-color;
			border:2px solid $accent-color; 
		}

		&:first-child {
			margin-top:0;
		}
	}
	.course-timerange {
		color:$light-text-color;
		font-family:"robotoregular";
	}
}

.course-options-wrap {
	.btn {
		padding: 8px 16px 7px;
		border:0;
		border-radius:0;
		text-transform: uppercase;
		font-family: "robotoregular";
		font-size: 1.286em;
		letter-spacing: .04em;

	}
	.btn-lg {
		padding: 18px 16px;
		font-family: "robotomedium";
		font-size: 1.286em;
	}
	.btn-group {
		display: table;
		width:100%;

		.btn {
			float:none;
			display: table-cell;
		}
		.btn-like{
			width:59px;
		}
	}
}

.course-place-wrap {
	display: table;
	padding:15px;
	height:130px;
	vertical-align: middle;

	.glyphicon,
	.course-place {
		display: table-cell;
		vertical-align: middle;
	}
	.glyphicon {
		padding:0 10px 0 0;
		color:$light-text-color;
	}
}
.course-address {
	color:$light-text-color;
}

.rating {
	text-align:center;
}
.star-rating-wrap {
	margin: 0 0 6px;	

	.star-rating,
	.total-rating {
		display: inline-block;
	}
	.total-rating {
		margin: 0 12px 0 0;
		font-size: 2em;
		line-height: 1em;
	}
	.star-rating {
		margin-bottom: 0;
		font-size: 1.5em;
		vertical-align: top;

		.fa {
			margin-left:4px;
		}
	}
}
.star-rating {
	margin:0 0 6px;
	font-size:1.25em;
	line-height: 1.3em;
	cursor: pointer;

	.fa {
		margin:0 0 0 3px;
		color:$link-color;

		&:first-child {
			margin-left:0;
		}
		&.disabled {
			color:$star-disabled-color;
		}
	}
}

.navigate-link .fa-angle-right {
	position: relative;
	top: -1px;
	margin:0 0 0 6px;
	line-height: .85em;
	vertical-align: middle;
	font-size: 1.643em;
}


.course-description {
	line-height: 1.2;

	p {
		margin-bottom:18px;
	}
	.lead {
		line-height: 1.1;
		margin-top: 28px;
		margin-bottom: 23px;
	}
	h2 {
		margin: 22px 0px 18px;
		font-size: floor(($font-size-base * 1.15));
		@media (min-width: $screen-sm-min) {
		    font-size: ($font-size-base * 1.5);
		}
	}
}

.skills-list {
	@include list-unstyled;
	margin-left: -9px;

	> li {
		display: inline-block;
		padding-left: 9px;
		padding-right: 9px;
	}
}

.download-list 	{
	@include list-unstyled;
	margin-left: -17px;
	margin-top: 11px;
	text-align: center;

	> li {
		display: inline-block;
		padding-left: 17px;
		padding-right: 17px;
	}
	.glyphicon {
		position: relative;
		top: -3px;
		margin-right: 12px;
		font-size: 1.7em;
		font-weight: normal;
		vertical-align: middle;
	}

}
