/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.mobile-view {
		display:none;
	}
	.desktop-view {
		display:block;
	}

	.container {
		margin-top:44px;
	}
	.page-header-wrap {
		// padding:0 0 0 390px;
		// @include clearfix;

		display: table;
		table-layout: fixed;
		height: 100%;
		width: 100%;
		
		.featured-img,
		.page-header {
			// float:right;
			// width:100%;
			// height: 338px;
			// max-height:inherit;
			display: table-cell;
			height:100%;
			vertical-align: top;

			&.mobile-view {
				display: none;
			}
		}

		.course-time-info {
			display: table-cell;
			vertical-align: top;
			// float:left;
			width: 390px;
			// margin:0 0 0 -390px;
		}
	}

	.page-header.desktop-view {
		display: table;
	}
	.header-toolbar {
		.header-toolbar-wrap {
			float:left;
		}
		.friends-counter {
			float:right;
		}
	}
	.header-toolbar-item {
		padding-right:10px;
		padding-left:10px;
		
		&.friends-counter {
			border:0;
			border-left:1px solid $gray-lighter;
		}
	}
	.header-toolbar-wrap {
		border-bottom:0;
	}

	.course-time {
		padding-right:12px;
		padding-left:12px;
	}


	.sections-wrap {
		@include clearfix;

		.section {
			float:right;
			width:68.8%;
		}
		.section-sidebar {
			float:left;
			width:29%;
		}
	}

	.comments-list {
		@include column-count(2,16);
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {}