.panel {
	margin-bottom: 30px;
	border:0;
	@include box-shadow(0);

	& > .list-group, 
	& >.panel-collapse > .list-group {
		padding:0 2px 2px;
	}
	.list-group-item {
		margin:2px 0 0;
		border:0;

		&:first-child {
			margin-top:0;
		}
	}
}
.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top:0;
}

.panel .panel .panel-heading {
	padding:0 2px 2px;
	background: transparent;
	border-bottom:0;
	text-align:left;

	a {
		display: block;
		padding: 8px 15px 13px 23%;
		background: $panel-panel-heading-bg;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: none;
		}
		.icon-expand-collapse:before {
			content: "\f107";
		}
		&.collapsed .icon-expand-collapse:before {
			content: "\f106";
		}
	}
	h4 {
		font-family: "robotoregular";
		text-transform: none;
		font-size: 1.143em;
	}
	.fa {
		font-size: 1.500em;
		margin-right: 11px;
	}

}
.panel-group .panel + .panel {
	margin-top:0;
}

.panel-heading {
	position: relative;
	text-align:center;
	border-bottom:2px solid $panel-body-border;
	
	h2,
	h3,
	h4 {
		margin:0;
		text-transform:uppercase;
		font-family:"robotobold";
		font-size:1.357em;
		letter-spacing: 0.04em;
	}
}

.panel-heading {
	.badge-info {
		position: absolute;
		right: 17px;
		top: 13px;
	}
}

.badge-info {
	padding:0 0 0 2px;
	width: 22px;
	height: 22px;
	border:2px solid $badge-color;
	font-size: 1.214em;
	text-align: center;
	cursor:pointer;

	&:before {
		content:"?";
	}
	span {
		display: none;
	}
	&,
	.panel-default>.panel-heading & {
		background:transparent;
		color:$badge-color;
	}
}

.lecturer-wrap {
	.img-wrap {
		float:left;
		margin: 0 16px 0 37px;
		width:79px;
		height:79px;
		border-radius:50%;
		overflow: hidden;
	}
	.star-rating {
		font-size:0.857em;
	}
}
.lecturer-name {
	margin-top: 8px;
	margin-bottom: 5px;
	font-size:1.143em;			
}
.lecturer-description {
	margin-top: 15px;
	line-height: 1.25em;
}
.lecturer-info {
	@include clearfix;
}

.panel-light {
	background:transparent;
	
	> .panel-heading {
		padding-left: 0;
		padding-right:0;
		text-align: left;
		border-bottom: 0;
	}
	> .panel-body {
		padding: 13px 11px;
		background:$panel-bg;
		&.comments-list {
			padding-bottom:0;
		}
	}
}

.comment-block {
	display:inline-block;
	padding: 14px 16px 9px;
	margin-bottom:37px;
	background:$comment-bg;

	p {
		line-height: 1.25em;
	}
	.img-wrap {
		display: inline-block;
		margin: 5px 0 -33px 8px;
		width:48px;
		height:48px;
		vertical-align: top;
		border-radius:50%;
		overflow: hidden;
	}
}
.comment-info {
	margin-top: 26px;

	.comment-author {
		float: right;
		font-size:1.143em;
		font-weight: bold;
		color:$text-color;
		&:hover {
			text-decoration: none;
		}
	}
	time {
		color:$light-text-color;
	}
}
.related-courses {
	@include make-row();
}
.course-block {
	@include make-sm-column(6);
	@include clearfix();
	margin-bottom:20px;

	.img-wrap {
		float:left;
		height:113px;
		width:50%;
		overflow: hidden;
		
		img {
			display: block;
			max-width: 100%;
			height:auto;
		}
	}
	.text-wrap {
		position: relative;
		float:left;
		width:50%;
		padding:10px;
		background:$related-course-bg;

		&:after {
			position: absolute;
			content: '';
			top: 50%;
			left: -10px;
			width: 0;
			height: 0;
			margin:-10px 0 0;
			border-left: 0 solid transparent;
			border-right: 10px solid $related-course-bg;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
		}
	}
	&:nth-child(4n+3),
	&:nth-child(4n+4) {
		.img-wrap,
		.text-wrap {
			float:right;
		}
		.text-wrap:after {
			left:auto;
			right:-10px;
			border-left: 10px solid $related-course-bg;
			border-right: 0 solid transparent;
		}
	}
}
.course-date {
	display: block;
	margin:0 0 9px;
	color:$light-text-color;
	font-size: .9em;
}
.course-title {
	margin: 0;
	font-size: 1.1em;
}
.course-description-wrap {
	max-height: 93px;
	overflow: hidden;

	p {
		margin: 0;
		font-size: .9em;
	}
}
