h1 {
	font-family:"robotoregular";
	text-transform:uppercase;
	font-weight: 800;
	letter-spacing: 0.04em;
}

b,
strong {
	font-family:robotobold;
	font-weight:normal;
}

.btn-like {
	@include button-variant($btn-like-color, $btn-like-bg, $btn-like-border);
}
.btn-like.inactive {
	background:desaturate($btn-like-bg, 60%);
}


.label {
	display: inline-block;
	font-size: 1em;
	font-weight: normal;
}

// Add hover effects, but only for links
.label-default[href] {
  &:hover,
  &:focus {
    color: $label-default-link-hover-color;
    border-color:$label-default-link-hover-border;
    text-decoration: none;
    cursor: pointer;
    background:transparent;
  }
}
